.header {
    background-color: @color-transparent-bone;

    &__wrapper {
        padding: 60px 0 80px 0;
        display: flex;
        justify-content: space-evenly;
    }

    &__logo h1 {
        font-family: @sub-font;
        font-size: 35px;
        font-weight: 400;
        line-height: 42px;
        text-transform: uppercase;

        @media screen and (@max768) {
            font-size: 20px;
            line-height: 27px;
        }
    }
}

.burger {
    width: 40px;
    height: 40px;
    padding: 10px 5px;
    border: 1px solid @color-translucent-black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 34px;

    @media screen and (@max768) {
        width: 30px;
        height: 30px;
        padding: 5px 5px;
    }

    span {
        width: 28px;
        height: 3px;
        background-color: @color-black;
        display: block;
        border-radius: 20px;

        @media screen and (@max768) {
            width: 17px;
            height: 2px;
        }
    }
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0 30px;

    @media screen and (@max576) {
        height: 40px;
    }

    &-btn {
        position: absolute;
        left: 15px;
        .transition(@prop, @time, @ease);
        padding: 3px;

        &:hover {
            transform: scale(1.1, 1.1);
        }

        &::before {
            content: @icon-search;
            font-family: @icomoon-font-family;
            font-size: 15px;
            color: @color-translucent-black;
            display: block;
        }
    }

    &-btn-close {
        position: absolute;
        right: 35px;
        width: 11px;
        height: 11px;
        display: none;

        &::before,
        &::after {
            background-color: @color-tapa;
        }

        &:hover {
            display: block;
        }
    }

    input {
        width: 100%;
        height: 100%;
        background-color: @color-parchment-light;
        border-radius: 10px;
        border: none;
        padding: 0 30px 0 40px;

        &:hover+.search-btn-close {
            display: block;
        }

        &[type="search"]::-webkit-search-cancel-button {
            z-index: 2;
            opacity: 0;
            cursor: pointer;
        }

        &:focus {
            outline: none;
            border: 1px solid @color-translucent-black;
        }

        &::placeholder {
            color: @color-translucent-black;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
    }
}

.user {
    position: relative;

    &-btn {
        cursor: pointer;
        margin-right: 30px;

        &:hover::before {
            color: @color-transparent-black;
        }

        &::before {
            content: @icon-user;
            font-family: @icomoon-font-family;
            color: @color-black;
            display: block;
            font-size: 35px;
            .transition(@prop, @time, @ease);

            @media screen and (@max768) {
                font-size: 30px;
            }
        }

        &_active::before {
            color: @color-transparent-black;
        }
    }

    &__submenu {
        position: absolute;
        width: 230px;
        background-color: @color-white;
        padding: 20px;
        border-radius: 5px;
        top: 60px;
        right: 0;
        display: none;

        &_active {
            display: block;
        }

        .modal-header__title {
            max-width: 150px;
            padding-bottom: 40px;

            h2 {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
            }
        }

        &-btn-registration {
            max-width: 188px;
            margin-top: 20px;
            background-color: transparent;
            border: 1px solid @color-translucent-black;
            .transition (@prop, @time, @ease);

            &:hover {
                border: 1px solid @color-black;
            }
        }
    }
}

.basket {
    cursor: pointer;

    &:hover::before {
        color: @color-transparent-black;
    }

    &::before {
        content: @icon-basket;
        font-family: @icomoon-font-family;
        color: @color-black;
        display: block;
        font-size: 35px;
        .transition(@prop, @time, @ease);

        @media screen and (@max768) {
            font-size: 30px;
        }
    }
}

.sidebar {
    position: absolute;
    width: 440px;
    height: 100vh;
    background-color: @color-parchment;
    left: 0;
    top: 0;
    z-index: 3;
    padding: 60px 70px 0 70px;
    transform: translate(-100%, 0);
    opacity: 0;
    visibility: hidden;
    .transition(opacity, 0.3s, @ease);

    @media screen and (@max768) {
        max-width: 320px;
        padding: 40px 50px 0 50px;
    }

    @media screen and (@max576) {
        max-width: 100%;
        width: 100%;
        padding: 40px 50px 0 50px;
    }

    &_active {
        transform: translate(0, 0);
        opacity: 1;
        visibility: visible;
    }

    &__list {
        padding-top: 40px !important;

        li {
            padding-bottom: 30px;

            &:last-child {
                padding: 0;
            }

            a {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: @color-black;
                .transition (@prop, 0.5s, @ease);

                @media screen and (@max768) {
                    font-size: 15px;
                    line-height: 18px;
                }

                &:hover {
                    color: @color-pale-oyster;
                }
            }
        }
    }
}