.header {
    background-color: @color-transparent-bone;

    &__wrapper {
        padding: 60px 0 80px 0;
        display: flex;
        justify-content: space-evenly;
        position: relative;

        @media screen and (@max576) {
            padding: 30px 0;
        }
    }

    &__logo h1 {
        font-family: @sub-font;
        font-size: 35px;
        font-weight: 400;
        line-height: 42px;
        text-transform: uppercase;

        @media screen and (@max768) {
            font-size: 25px;
            line-height: 35px;
        }

        @media screen and (@max576) {
            font-size: 20px;
        }
    }
}