// fonts

@main-font: 'Open Sans', sans-serif;
@sub-font: 'Roboto', sans-serif;

// colors

@color-black: #000000;
@color-white: #FFFFFF;
@color-parchment: #F0E7D6;
@color-parchment-light: #F4EBDC;
@color-martini: #AC9D9D;
@color-tapa: #77746F;
@color-red: #F80000;
@color-bombay: #AFAFB5;
@color-transparent-bone: #DFD5BD40;
@color-transparent-sycamore: #897D3F80;
@color-translucent-black: #00000050;
@color-transparent-black: #00000080;
@color-nobel: #BAB4B450;
@color-pale-oyster: #978D7A;