.brand {
    &__wrapper {
        padding: 40px 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        margin: 0;

        .brand__inner {
            img {
                margin: 0 auto;
            }
        }
    }
}