 
.basket {
    position: relative;

    &-btn {
        cursor: pointer;

        &:hover::before {
            color: @color-transparent-black;
        }

        &::before {
            content: @icon-basket;
            font-family: @icomoon-font-family;
            color: @color-black;
            display: block;
            font-size: 35px;
            .transition(@prop, @time, @ease);

            @media screen and (@max768) {
                font-size: 30px;
            }
        }

        &_active::before {
            color: @color-transparent-black;
        }
    }
    
    &__modal {
        padding: 50px 70px 40px 70px;
        width: 512px;
        background-color: @color-white;
        position: absolute;
        right: 0;
        top: 60px;
        z-index: 3;
        display: none;

        &_active {
            display: block;
        }
    }
    
    .modal-header {
        padding-bottom: 40px;
    }
   
    &__list {
        &-item {
            display: flex;
            justify-content: space-between;
            padding-bottom: 15px;
            &-title {
                h5 {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: @color-black;
                }
            }

            &-wrapper {
                width: 100px;
                display: flex;
                justify-content: space-between;
            }

            &-price {
                h5 {
                    width: 36px;
                    height: 19px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: @color-black;
                }
            }

            &-btn-remove {
                .icon-trash {
                    .transition(@prop, @time, @ease);

                    &:hover {
                        transform: scale(1.5, 1.5);
                    }
                }
            }
        }
    }

    &__btn-delete-all {
        margin: 10px 0 105px 0;
        width: 161px;
        height: 35px;
        background: @color-tapa;
        border: none;
        border-radius: 5px;
        font-family: @sub-font;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: @color-white;
        cursor: pointer;
        .transition(@prop, @time, @ease);

        &:hover{
            color: @color-black;
            background-color: transparent;
            border: 1px solid @color-black;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
    }

    &__total-price {
        display: flex;
        font-family: @sub-font;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: @color-black;
    }
}