.container {
   max-width: 1170px;
   margin: 0 auto;
}
.slider__inner {
   position: relative;
   margin: 0 auto;
}
.slider__link {
   cursor: grab;
}
.slider__link:active {
   cursor: grabbing;
}
.slider__img{
   width: 100%;
   height: 100%;
}

.slick-prev, .slick-next {
   width: 50px;
   height: 50px;
   position: absolute;
   top: 50%;
   transform: translateY(-100%);
   z-index: 2;
   border: none;
   cursor: pointer;
   background: transparent;
}
.slick-prev {
   left: 10px;
}
.slick-next {
   right: 10px;
}
.slick-dots {
   display: flex;
   justify-content: center;
   gap: 10px;
   list-style: none;
   margin: 0;
   padding: 16px 0;
   bottom: 30px;
}
.slick-dots li {
   margin: 0;
   background: #AFAFB5;
   border-radius: 50%;
}
.slick-dots button {
   display: block;
   width: 16px;
   height: 16px;
   padding: 0;
   border: none;
   border-radius: 50%;
   text-indent: -9999px;
   cursor: pointer;
}
.slick-dots li.slick-active button {
   background-color: #77746F;
}


.www {
   font-size: 40px;
}