.container {
   max-width: 1170px;
   margin: 0 auto;
}

.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
}

.swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.swiper {
   margin-left: auto;
   margin-right: auto;
}
.swiper-wrapper:hover {
   cursor: grab;
}
.swiper-wrapper:active {
   cursor: grabbing;
}
.swiper-pagination-bullet {
   width: 15px;
   height: 15px;
}
@media (max-width: 768px) {
   .swiper-button-next, .swiper-button-prev {
      display: none;
   } 
}

