.cards {
	padding: 70px 15px 0;
	display: flex;
	
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 113px;
	}

	&__inner {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		column-gap: 33px;
		row-gap: 65px;
		padding-bottom: 45px;
	}

	&__btn-show-more {
		width: 260px;
		height: 50px;
		cursor: pointer;
		background: none;
		transition: all ease-in-out .2s;
		font-weight: 600;
		font-size: 18px;
		line-height: 25px;
		border: 3px solid @color-translucent-black;
		border-radius: 5px;
		color: @color-translucent-black;
		.transition (@prop, @time, @ease); 

		&:hover {
			color: @color-black;
			border: 3px solid @color-mine-shaft;
		}

		&:active {
			border: 3px solid @color-translucent-black;
			color: @color-transparent-black;
		}
	}
}

.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	border-radius: 20px;
	background-color: @color-white;
	box-shadow: 3px 4px 4px 3px @color-translucent-black;
	max-width: 260px;
	display: none;
	opacity: 0;
	.transition (@prop, @time, @ease);

	&_active {
		display: block;
	}

	&__view {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;

		&:hover > .card__btn-quick-view {
			opacity: 1;
		}
	}

	&__img {
		width: 260px;
		height: 248px;
		border-radius: 20px 20px 0 0;
	}

	&__btn-quick-view {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 42px;
		cursor: pointer;
		opacity: 0;
		border: none;
		background: @color-nobel;
		.transition (@prop, 0.5s, ease-in-out); 
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		text-shadow: 1px 1px 15px white;

		&:hover {
			background-color: @color-translucent-black;
		}

		&:active {
			background-color: @color-transparent-sycamore;
		}
	}

	&__inner {
		padding: 20px 25px 10px;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__info {
		display: flex;
		flex-direction: column;

		h4 {
			font-family: @sub-font;
			font-weight: 600;
			font-size: 18px;
			line-height: 25px;
			height: 50px;
		}

		h5 {
			font-family: @sub-font;
			font-weight: 700;
			font-size: 16px;
			line-height: 22px;
		}
	}

	&__subinfo {
		display: flex;
		flex-direction: column;

		span:first-child {
			color: @color-red;
			font-family: @sub-font;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			padding-bottom: 10px;
		}

		span:last-child {
			color: @color-bombay;
			font-family: @sub-font;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			text-decoration: line-through;
		}
	}

	&__btn-add-basket {
		margin: 0 0 28px 25px;
		width: 110px;
		height: 35px;
		background-color: @color-tapa;
		border-radius: 5px;
		border: none;
		font-family: @sub-font;
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		color: @color-white;
		cursor: pointer;
		.transition (@prop, @time, ease-in-out); 

		&:hover {
			background-color: transparent;
			border: 1px solid @color-black;
			color: @color-black;
		}

		&:active {
			background-color: @color-bombay;
		}
	}
}

.card-modal {
	width: 100vw;
	height: 100vh;
	padding: 0 15px;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	background-color: @color-transparent-black;
	z-index: 2;

	// @media screen and (@max768) {
	// 	max-width: 500px;
	// }

	&__wrapper {
		width: 100%;
		display: grid;
		grid-template-columns: 45% 55%;
		border-radius: 20px;
		background-color: @color-white;
		box-shadow: 3px 4px 4px 3px @color-translucent-black;

		@media screen and (@max924) {
			grid-template-columns: 50% 50%;
		}

		@media screen and (@max768) {
			grid-template-columns: 1fr;
			max-width: 450px;
			margin: 0 auto;
		}
	}

	&__img {
		width: 100%;
		border-radius: 20px 0 0 20px;
		box-shadow: 3px 4px 4px 3px @color-translucent-black;

		@media screen and (@max768) {
			border-radius: 20px 20px 0 0;
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		padding: 20px 40px;

		@media screen and (@max924) {
			padding: 10px 40px;
		}

		h2 {
			font-weight: 600;
			font-size: 36px;
			line-height: 42px;
		}
	}

	&__header {
		width: 100%;
	}

	&__info {
		padding: 25px 0;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;

		@media screen and (@max924) {
			padding: 15px 0px;
		}

		span {
			font-weight: 600;
		}
	}

	&__subinfo {
		width: 100%;
		display: flex;
		align-items: flex-end;
		padding-bottom: 30px;

		@media screen and (@max924) {
			padding-bottom: 10px;
		}

		h3 {
			margin-right: 15px;
			font-weight: 500;
			font-size: 30px;
			line-height: 35px;
		}

		h4 {
			font-weight: 400;
			font-size: 20px;
			line-height: 23px;
			color: @color-bombay;
			text-decoration: line-through;
		}
	}

	&__btn-add-basket {
		margin-bottom: 25px;
		width: 100%;
		height: 40px;
		background-color: @color-tapa;
		border-radius: 5px;
		border: none;
		font-family: @sub-font;
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		color: @color-white;
		cursor: pointer;
		transition: all ease-in-out .2s;

		&:hover {
			background-color: transparent;
			border: 1px solid @color-black;
			color: @color-black;
		}

		&:active {
			background-color: @color-bombay;
		}
	}
}